{
  "env" : {
    "node" : true,
    "es6" : true
  },
  "rules" : {
    "indent": ["error", 2]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "plugins": [
    "babel",
    "import"
  ]
}
